<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <script type="module" defer src="/show.js"></script>
    <title>Person Show</title>
</head>
<body>
    <h1>Person Show</h1>
    <table>
        <tbody data-id="{{person.id}}"> </tbody>
    </table>
    <button id="remove" style="display: none">
        Remove this object
    </button>
</body>
</html>
