<script setup>
    import {ref, onMounted} from 'vue'
    import {loadAll} from "../person-service.js";

    const items = ref([]);

    onMounted(async () => {
        items.value = await loadAll();
    })
</script>

<template>
    <h1>Person List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Female</th>
                <th>Post Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item of items" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.female }}</td>
                <td>{{ item.postCode }}</td>
                <td>
                    <router-link :to="'/show/' + item.id">
                        Show
                    </router-link>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<style scoped>

</style>
