<script setup>
    import {ref, onMounted} from 'vue';
    import {useRouter} from 'vue-router';
    import {loadById, remove} from "../person-service.js";

    const props = defineProps({
        id: String
    })
    const router = useRouter()
    const item = ref({});

    onMounted(async () => {
        item.value = await loadById(props.id);
    })

    const removeItem = async (id) => {
        await remove(id);
        await router.replace({name: 'list'})
    };
</script>

<template>
    <h1>Person Show</h1>

    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ item.age }}</td>
            </tr>
            <tr>
                <th>Female</th>
                <td>{{ item.female }}</td>
            </tr>
            <tr>
                <th>Post Code</th>
                <td>{{ item.postCode }}</td>
            </tr>
        </tbody>
    </table>

   <button @click.prevent="removeItem(item.id)">
       Remove this object
   </button>
</template>

<style scoped>

</style>
