<html>
<head>
    <link href="/style.css" rel="stylesheet"/>
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>
        Ooh crap!
        Something went wrong.
    </p>
</body>
</html>
