<html>
<head>
    <link href="/style.css" rel="stylesheet"/>
    <title>Person List</title>
</head>
<body>
    <h1>Person List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Female</th>
                <th>Post Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#list}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{age}}</td>
                    <td>{{female}}</td>
                    <td>{{postCode}}</td>
                    <td>
                        <a href="/show/{{id}}">SHOW</a>
                    </td>
                </tr>
            {{/list}}
        </tbody>
    </table>
</body>
</html>
