<html>
<head>
    <link href="/style.css" rel="stylesheet"/>
    <title>Person View</title>
</head>
<body>
    <h1>Person View</h1>
    <table>
        <tbody>
            {{#item}}
                <tr><th>ID</th> <td>{{id}}</td></tr>
                <tr><th>Name</th> <td>{{name}}</td></tr>
                <tr><th>Age</th> <td>{{age}}</td></tr>
                <tr><th>Female</th> <td>{{female}}</td></tr>
                <tr><th>Post Code</th> <td>{{postCode}}</td></tr>
                <tr>
                    <th></th>
                    <td>
                        <a href="/remove/{{id}}">REMOVE</a>
                    </td>
                </tr>
            {{/item}}
        </tbody>
    </table>
</body>
</html>
