<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>
        Crap! Something went wrong.
    </p>

    <a href="/">
        Go back to start
    </a>
</body>
</html>

