<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <script type="module" defer src="/list.js"></script>
    <title>Person List</title>
</head>
<body>
    <h1>Person List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Female</th>
                <th>Post Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody> </tbody>
    </table>
</body>
</html>
